body{
    margin: 0;
    font-family: Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    gap: 5px;
    height: 100vh;
    border: 1px solid #000;
    position: relative;
}

.block1 {
    grid-column: 1 / 4;
    background: #c9dcf2;
    text-align: center;
    padding: 10px;
}
.block2 {
    grid-column: 1;
    grid-row: 2 / 5;
    background: #d9ead3;
    padding: 15px;
}

.block3 {
    grid-column: 2;
    grid-row: 2;
    background: #fff;
    padding: 10px;
}

.block4 {
    grid-column: 3;
    grid-row: 2;
    background: #e2f0d9;
    padding: 10px;
}

.block5 {
    grid-column: 3;
    grid-row: 3;
    background: #fce5cd;
    padding: 10px;
}

.block6 {
    grid-column: 2 / 4;
    grid-row: 4;
    background: #c9dcf2;
    padding: 10px;
    text-align: left;
}
.blockX {
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    padding: 2px -5px;
    border: 1px solid #000;
}

.blockY {
    position: static;
    display: inline-block;
    margin-top: 10px;
    background: white;
    padding: 5px 15px;
    border: 1px solid #000;
    font-weight: bold;
}


nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap:15px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}
/* Стилі для форми генерації */
.property-field {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
.property-field input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    flex: 1;
}
.remove-prop-btn {
    cursor: pointer;
    background: #ffcccc;
    border: 1px solid #ff9999;
    border-radius: 3px;
}

/* === Стилі для створеного об'єкта COLLAPSE === */
#resultContainer {
    margin-top: 20px;
    border-top: 2px dashed #ccc;
    padding-top: 10px;
}

.my-collapse-item {
    margin-bottom: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    overflow: hidden;
}

.my-collapse-btn {
    width: 100%;
    background-color: #f8f9fa;
    color: #212529;
    padding: 10px 15px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-collapse-btn:hover {
    background-color: #e2e6ea;
}

.my-collapse-btn:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.my-collapse-btn.active:after {
    content: "\2212";
}

.my-collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: white;
}

.my-collapse-body {
    padding: 15px;
    border-top: 1px solid #dfdfdf;
    color: #333;
}